
@{
    ViewData["Title"] = "Nhập thang điểm";
}
@using QuanLyNhuanButDemo.DTOs
@model List<UnitTypeDTO>
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <i class="fas fa-edit"></i>
        Đổi giá trị điểm nhuận bút
    </li>
</ol>
<form id="form-mark-val" method="POST" class="mb-3">
    <div class="row">
        <div class="col-md-12">
            <div class="form-inline">
                <label for="MarkVal" class="mr-2"><strong>1 Điểm =</strong></label>
                <div class="input-group mr-2">
                    <input type="text" class="form-control" name="MarkVal" id="MarkVal">
                    <div class="input-group-append">
                        <span class="input-group-text"><strong>VND</strong></span>
                        <button type="submit" class="btn btn-success" id="changeMarkBtn">Thay đổi</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <i class="fas fa-plus-square"></i>
        Tạo mới thể loại
    </li>
</ol>
<form id="form-category-add" method="POST">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="CategoryAdd"><strong>Thể loại</strong></label>
                <input type="text" class="form-control" name="CategoryAdd" id="CategoryAdd" pattern=".{1,400}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="UnitTypeAdd"><strong>Loại tin bài</strong></label>
                <select class="form-control" id="UnitTypeAdd" name="UnitTypeAdd">
                    @foreach (var item in Model)
                    {
                        <option value="@item.UnitTypeId">@item.UnitType</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="MinMarkAdd"><strong>Điểm thấp nhất</strong></label>
                <input type="number" class="form-control" name="MinMarkAdd" id="MinMarkAdd" value="0.5" min="0.5" step="any" max="50">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="MaxMarkAdd"><strong>Điểm cao nhất</strong></label>
                <input type="number" class="form-control" name="MaxMarkAdd" id="MaxMarkAdd" min="0.5" step="any" value="0.5" max="50">
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-success mb-3">Tạo mới</button>
</form>
<!-- DataTables Example -->
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Danh sách thể loại
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover animated fadeIn" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Loại tin bài</th>
                        <th>Thể loại</th>
                        <th>Điểm thấp nhất</th>
                        <th>Điểm cao nhất</th>
                        <th>Điểm</th>
                        <th>Chỉnh sửa</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Loại tin bài</th>
                        <th>Thể loại</th>
                        <th>Điểm thấp nhất</th>
                        <th>Điểm cao nhất</th>
                        <th>Điểm</th>
                        <th>Chỉnh sửa</th>
                    </tr>
                </tfoot>
                <tbody id="dataTable-body">
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Cập nhật lúc @DateTime.Now.ToString("dd/MM/yyyy hh:mm tt")</div>
</div>
<div class="modal fade" id="modalUpdtCategoryForm" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="row ml-auto mr-2 mt-2">
                <button type="button" id="myBtn" class="close" data-dismiss="modal"><i class="fas fa-times-circle"></i></button>
            </div>
            <h3 class="text-center mt-2" style="color: #00cc33">Chỉnh sửa thể loại</h3>
            <form class="modal-body" id="form-acc-updt">
                <input type="hidden" name="CategoryIdUpdt" id="CategoryIdUpdt">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="CategoryUpdt"><strong>Thể loại</strong></label>
                            <input type="text" class="form-control" name="CategoryUpdt" id="CategoryUpdt" pattern=".{1,400}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="UnitTypeUpdt"><strong>Loại tin bài</strong></label>
                            <select class="form-control" id="UnitTypeUpdt" name="UnitTypeUpdt">
                                @foreach (var item in Model)
                                {
                                    <option value="@item.UnitTypeId">@item.UnitType</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="MinMarkUpdt"><strong>Điểm thấp nhất</strong></label>
                            <input type="number" class="form-control" name="MinMarkUpdt" id="MinMarkUpdt" value="0.5" min="0.5" step="any" max="50">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="MaxMarkUpdt"><strong>Điểm cao nhất</strong></label>
                            <input type="number" class="form-control" name="MaxMarkUpdt" id="MaxMarkUpdt" min="0.5" step="any" value="0.5" max="50">
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-success mb-3">Cập nhật</button>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Bạn chắc chắn muốn xóa?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <input type="hidden" id="delId" />
            <div class="modal-body">Nhấn "Xóa" ở dưới nếu đồng ý.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Bỏ qua</button>
                <button class="btn btn-primary" id="delCategoryBtn">Xóa</button>
            </div>
        </div>
    </div>
</div>
@section NhapThangDiem {
    active
}
@section Scripts {
    <script src="~/lib/datatables/jquery.dataTables.js"></script>
    <script src="~/lib/datatables/dataTables.bootstrap4.js"></script>
    <script src="~/lib/moment/moment.min.js"></script>
    <script src="~/lib/datatables/datetime-moment.js"></script>
    <script src="~/lib/jquery/jquery.masknumber.js"></script>
    <script src="~/js/category.js"></script>
}



