@{
    ViewData["Title"] = "Duyệt điểm nhuận bút";
}
@using QuanLyNhuanButDemo.DTOs
@model ArticleViewModel
<!-- DataTables Example -->
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Danh sách tin bài chưa duyệt theo tháng
    </div>
    <div class="card-body">
        <form class="form-inline" id="search-log" method="POST">
            <div class="form-group">
                <label for="timeSearch"><strong>Tin bài tháng:</strong></label>
                <div class="flex-column">
                    <input type="text" class="form-control ml-2" placeholder="" name="timeSearch" id="timeSearch" value="@DateTime.Now.ToString("MM/yyyy")">
                </div>
                <button type="button" id="toggle1" class="btn btn-secondary">
                    <i class="far fa-calendar-alt"></i>
                </button>
            </div>
            <button type="submit" class="btn btn-success ml-2">Tìm kiếm</button>
        </form>
    </div>
    <div class="card-body">
        <div class="form-check">
            <input type="checkbox" id="selectBtn" class="form-check-input mb-4">
            <label class="form-check-label mr-2 mb-4" for="selectBtn">
                Chọn tất cả chưa duyệt
            </label>
        </div>
        <button class="btn btn-primary mb-4" id="approveBtn" disabled>Duyệt tất cả đã chọn</button>
        <div class="table-responsive">
            <table class="table table-bordered table-hover animated fadeIn" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th></th>
                        <th>ID</th>
                        <th>Nội dung</th>
                        <th>Thể loại ID</th>
                        <th></th>
                        <th></th>
                        <th>Thể loại</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Người thực hiện</th>
                        <th>Trạng thái</th>
                        <th>Ngày phát sóng</th>
                        <th></th>
                        <th></th>
                        <th>Người chấm</th>
                        <th>Điểm (BTV)</th>
                        <th>Điểm (GĐ)</th>
                        <th>Chỉnh sửa</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th></th>
                        <th>ID</th>
                        <th>Nội dung</th>
                        <th>Thể loại ID</th>
                        <th></th>
                        <th></th>
                        <th>Thể loại</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Người thực hiện</th>
                        <th>Trạng thái</th>
                        <th>Ngày phát sóng</th>
                        <th></th>
                        <th></th>
                        <th>Người chấm</th>
                        <th>Điểm (BTV)</th>
                        <th>Điểm (GĐ)</th>
                        <th>Chỉnh sửa</th>
                    </tr>
                </tfoot>
                <tbody id="dataTable-body">
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Cập nhật lúc @DateTime.Now.ToString("dd/MM/yyyy hh:mm tt")</div>
</div>
<div class="modal fade" id="modalUpdtArticleForm" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="row ml-auto mr-2 mt-2">
                <button type="button" id="myBtn" class="close" data-dismiss="modal"><i class="fas fa-times-circle"></i></button>
            </div>
            <h3 class="text-center mt-2" style="color: #00cc33">Chỉnh sửa tin bài</h3>
            <form class="modal-body" id="form-acc-updt">
                <input type="hidden" name="ArticleIdUpdt" id="ArticleIdUpdt">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="ContentUpdt"><strong>Nội dung</strong></label>
                            <input type="text" class="form-control" placeholder="" name="ContentUpdt" id="ContentUpdt" pattern=".{1,400}">
                        </div>
                    </div>
                </div>
                <!--  row   -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="CategoryUpdt"><strong>Thể loại</strong></label>
                            <select class="form-control selectpicker" id="CategoryUpdt" data-show-subtext="true" data-live-search="true">
                                @if (Model.Categories.Count != 0)
                                {
                                    @foreach (var item in Model.Categories)
                                    {
                                        <option data-subtext="@item.UnitType" value="@item.CategoryId" data-min="@item.MinMark" data-max="@item.MaxMark">@item.CategoryName</option>
                                    }
                                }
                                else
                                {
                                    <option value="">Không có thể loại nào có sẵn</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="ExecutorUpdt"><strong>Người thực hiện</strong></label>
                            <select class="form-control selectpicker" id="ExecutorUpdt" data-show-subtext="true" data-live-search="true">
                                @if (Model.Reporters.Count != 0)
                                {
                                    @foreach (var item in Model.Reporters)
                                    {
                                        <option data-subtext="@item.DepartmentName" value="@item.UserName">@item.Name</option>
                                    }
                                }
                                else
                                {
                                    <option value="">Không có phóng viên nào có sẵn</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="TimeBroadcastUpdt"><strong>Ngày phát sóng</strong></label>
                            <input type="text" class="form-control" placeholder="" name="TimeBroadcastUpdt" id="TimeBroadcastUpdt" value="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="MarkUpdt" class="d-flex justify-content-between"><strong>Điểm</strong></label>
                            <input type="number" class="form-control" placeholder="" name="MarkUpdt" id="MarkUpdt" min="1" step="any" max="10" value="1">
                        </div>
                    </div>
                </div>
                <div class="text-center mt-2">
                    <button type="submit" class="btn btn-success mb-3 m-auto">Cập nhật</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Bạn chắc chắn muốn xóa?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Nhấn "Xóa" ở dưới nếu đồng ý.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Bỏ qua</button>
                <button class="btn btn-primary" id="delArticleBtn">Xóa</button>
            </div>
        </div>
    </div>
</div>
@section DuyetDiem {
    active
}
@section Scripts {
    <script src="~/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script src="~/js/bootstrap-select.min.js"></script>
    <script src="~/js/dataTables.select.min.js"></script>
    <script src="~/js/defaults-vi_VN.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.20/sorting/datetime-moment.js"></script>
    <script src="~/js/approveMark.js"></script>
}

