@{
    ViewData["Title"] = "Xuất hóa đơn";
}
@model QuanLyNhuanButDemo.DTOs.InvoiceViewModel
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Bảng tổng hợp tin bài theo tháng
    </div>
    <div class="card-body">
        <form id="search-log" method="POST" asp-action="ExportGeneral" asp-controller="Article">
            <!--  row   -->
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="departmentSearch"><strong>Đơn vị</strong></label>
                        <select class="form-control selectpicker" id="departmentSearch" name="departmentSearch" data-show-subtext="true" data-live-search="true">
                            @if (Model.Departments.Count() == 0)
                            {
                                <option value="">Không có đơn vị nào có sẵn</option>
                            }
                            else
                                foreach (var item in Model.Departments)
                                {
                                    <option data-subtext="@item.DepartmentType" value="@item.DepartmentId">@item.DepartmentName</option>
                                }
                        </select>
                        <p class="error" id="DepartmentSearch-exist"></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="unitTypeSearch"><strong>Loại tin bài</strong></label>
                        <select class="form-control" id="unitTypeSearch" name="unitTypeSearch">
                            @foreach (var item in Model.UnitTypes)
                            {
                                <option value="@item.UnitTypeId">@item.UnitType</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="monthSearch"><strong>Tháng</strong></label>
                        <input type="text" class="form-control" placeholder="" readonly name="monthSearch" id="monthSearch" value="@DateTime.Now.ToString("MM/yyyy")">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success" @(Model.Departments.Count() == 0 ? "disabled" : "")><i class="fas fa-file-excel"></i> Xuất ra Excel</button>
        </form>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Bảng thanh toán nhuận bút theo tháng
    </div>
    <div class="card-body">
        <form id="search-reporter" method="POST" asp-action="ExportDetail" asp-controller="Article">
            <!--  row   -->
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="reporterSearch2"><strong>Tác giả</strong></label>
                        <select class="form-control selectpicker" id="reporterSearch2" name="reporterSearch2" data-show-subtext="true" data-live-search="true">
                            @if (Model.Reporters.Count != 0)
                            {
                                @foreach (var item in Model.Reporters)
                                {
                                    <option data-subtext="@item.DepartmentName" value="@item.UserName">@item.Name</option>
                                }
                            }
                            else
                            {
                                <option value="">Không có phóng viên nào có sẵn</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="monthSearch2"><strong>Tháng</strong></label>
                        <input type="text" class="form-control" placeholder="" readonly name="monthSearch2" id="monthSearch2" value="@DateTime.Now.ToString("MM/yyyy")">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="StockDeduction"><strong>Giảm trừ khoán</strong></label>
                        <div class="input-group mr-2">
                            <input type="text" class="form-control" placeholder="" name="StockDeduction" id="StockDeduction" value="0">
                            <div class="input-group-append">
                                <span class="input-group-text"><strong>VND</strong></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success" @(Model.Reporters.Count() == 0 ? "disabled" : "")><i class="fas fa-file-excel"></i> Xuất ra Excel</button>
        </form>
    </div>
</div>
@section XuatHoaDon {
    active
}
@section Scripts {
    <script src="~/js/bootstrap-select.min.js"></script>
    <script src="~/js/defaults-vi_VN.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script src="~/js/jquery.masknumber.js"></script>
    <script src="~/js/invoice.js"></script>
}



