@using Microsoft.AspNetCore.Identity
@using QuanLyNhuanButDemo.DTOs
@model ManageUserViewModel
@{
    ViewData["Title"] = "QuanLyTaiKhoan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <i class="fas fa-plus-square"></i>
        Tạo mới tài khoản
    </li>
</ol>
<form id="form-register" method="POST">
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="UsernameRg"><strong>Tên đăng nhập</strong></label>
                <input type="text" class="form-control" name="UsernameRg" id="UsernameRg" pattern="(\d|\w){1,30}" onkeyup="checkUsernameExisted()">
                <p class="error" id="Username-exist"></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="RoleRg"><strong>Chức vụ</strong></label>
                <select class="form-control" id="RoleRg">
                    @foreach (var item in Model.IdentityRoles)
                    {
                        <option value="@item.Name">@item.Name</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="row" id="departmentInput">
        <div class="col-md-6">
            <label for="DepartmentRg"><strong>Đơn vị</strong><small style="color:blue">* Bạn cần chọn đơn vị nếu bạn là phóng viên</small></label>
            <select class="form-control selectpicker" id="DepartmentRg" name="DepartmentRg" data-show-subtext="true" data-live-search="true">
                @if (Model.Departments.Count() == 0)
                {
                    <option value="">Không có đơn vị nào có sẵn</option>
                }
                else
                    foreach (var item in Model.Departments)
                    {
                        <option data-subtext="@item.DepartmentType" value="@item.DepartmentId">@item.DepartmentName</option>
                    }
            </select>
            <p class="error" id="DepartmentAdd-exist"></p>
        </div>
        <div class="col-md-6">
            <label for="NickNameRg"><strong>Bút danh</strong></label>
            <input type="text" class="form-control" name="NickNameRg" id="NickNameRg" pattern=".{1,40}">
        </div>
    </div>
    <!--  row   -->
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="NameRg"><strong>Tên</strong></label>
                <input type="text" class="form-control" name="NameRg" id="NameRg" pattern=".{1,40}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="PasswordRg"><strong>Mật khẩu</strong></label>
                <input type="password" class="form-control" name="PasswordRg" id="PasswordRg" pattern="(?=.*[A-Z])(?=.*[a-z])[A-Za-z0-9]{8,16}">
            </div>
        </div>
        <!--  col-md-6   -->
        <div class="col-md-6">
            <div class="form-group">
                <label for="RepPassRg"><strong>Nhập lại mật khẩu</strong></label>
                <input type="password" class="form-control" name="RepPassRg" id="RepPassRg" pattern="(?=.*[A-Z])(?=.*[a-z])[A-Za-z0-9]{8,16}">
            </div>
        </div>
        <!--  col-md-6   -->
    </div>
    <button type="submit" class="btn btn-success mb-3">Tạo mới</button>
</form>
<!-- DataTables Example -->
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Danh sách tài khoản
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover animated fadeIn" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Tên đăng nhập</th>
                        <th></th>
                        <th></th>
                        <th>Tên</th>
                        <th>Chức vụ</th>
                        <th></th>
                        <th>Đơn vị</th>
                        <th>Trạng thái</th>
                        <th>Ngày cập nhật</th>
                        <th>Chỉnh sửa</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Tên đăng nhập</th>
                        <th></th>
                        <th></th>
                        <th>Tên</th>
                        <th>Chức vụ</th>
                        <th></th>
                        <th>Đơn vị</th>
                        <th>Trạng thái</th>
                        <th>Ngày cập nhật</th>
                        <th>Chỉnh sửa</th>
                    </tr>
                </tfoot>
                <tbody id="dataTable-body">
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Cập nhật lúc @DateTime.Now.ToString("dd/MM/yyyy hh:mm tt")</div>
</div>
<div class="modal fade" id="modalUpdtAccForm" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="row ml-auto mr-2 mt-2">
                <button type="button" id="myBtn" class="close" data-dismiss="modal"><i class="fas fa-times-circle"></i></button>
            </div>
            <h3 class="text-center mt-2" style="color: #00cc33">Chỉnh sửa tài khoản</h3>
            <form class="modal-body" id="form-acc-updt">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="UsernameUpdt"><strong>Tên đăng nhập</strong></label>
                            <input type="text" class="form-control" name="UsernameUpdt" id="UsernameUpdt" disabled>
                        </div>
                    </div>
                </div>
                <!--  row   -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="NameUpdt"><strong>Tên</strong></label>
                            <input type="text" class="form-control" name="NameUpdt" id="NameUpdt" pattern=".{1,40}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="RoleUpdt"><strong>Chức vụ</strong></label>
                            <select class="form-control" id="RoleUpdt">
                                @foreach (var item in Model.IdentityRoles)
                                {
                                    <option value="@item.Name">@item.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="IsDeletedUpdt"><strong>Trạng thái</strong></label>
                            <select class="form-control" id="IsDeletedUpdt">
                                <option value=true>Đã vô hiệu hóa</option>
                                <option value=false>Có thể sử dụng</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row departmentInput2">
                    <div class="col-md-12">
                        <label for="NickNameUpdt"><strong>Bút danh</strong></label>
                        <input type="text" class="form-control" name="NickNameUpdt" id="NickNameUpdt" pattern=".{1,40}">
                    </div>
                </div>
                <div class="row departmentInput2">
                    <div class="col-md-12">
                        <label for="DepartmentUpdt"><strong>Đơn vị</strong><small style="color:blue">* Bạn cần chọn đơn vị nếu bạn là phóng viên</small></label>
                        <select class="form-control selectpicker" id="DepartmentUpdt" name="DepartmentUpdt" data-show-subtext="true" data-live-search="true">
                            @foreach (var item in Model.Departments)
                            {
                                <option data-subtext="@item.DepartmentType" value="@item.DepartmentId">@item.DepartmentName</option>
                            }
                        </select>
                        <p class="error" id="DepartmentUpdt-exist"></p>
                    </div>
                </div>
                <div class="text-center mt-2">
                    <button type="submit" class="btn btn-success mb-3 m-auto">Cập nhật</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="modalUpdtPassForm" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="row ml-auto mr-2 mt-2">
                <button type="button" id="myBtn" class="close" data-dismiss="modal"><i class="fas fa-times-circle"></i></button>
            </div>
            <h3 class="text-center mt-2" style="color: #00cc33">Thay đổi mật khẩu</h3>
            <form class="modal-body" id="form-pass-updt">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="UsernameUpdtPass"><strong>Tên đăng nhập</strong></label>
                            <input type="text" class="form-control" name="UsernameUpdtPass" id="UsernameUpdtPass" disabled>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="PasswordUpdt"><strong>Mật khẩu</strong></label>
                            <input type="password" class="form-control" name="PasswordUpdt" id="PasswordUpdt" pattern="(?=.*[A-Z])(?=.*[a-z])[A-Za-z0-9]{8,16}">
                        </div>
                    </div>
                </div>
                <!--  col-md-6   -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="RepPassUpdt"><strong>Nhập lại mật khẩu</strong></label>
                            <input type="password" class="form-control" name="RepPassUpdt" id="RepPassUpdt" pattern="(?=.*[A-Z])(?=.*[a-z])[A-Za-z0-9]{8,16}">
                        </div>
                    </div>
                </div>
                <div class="text-center mt-2">
                    <button type="submit" class="btn btn-success mb-3 m-auto">Cập nhật</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section QuanLyTaiKhoan {
    active
}
@section Scripts {
    <script src="~/lib/datatables/jquery.dataTables.js"></script>
    <script src="~/lib/datatables/dataTables.bootstrap4.js"></script>
    <script src="~/lib/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/lib/bootstrap-select/defaults-vi_VN.js"></script>
    <script src="~/lib/moment/moment.min.js"></script>
    <script src="~/lib/datatables/datetime-moment.js"></script>
    <script src="~/js/user.js"></script>
}



